################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/StackApp/.vs
/StackApp/StackApp/bin/Debug/net8.0
/StackApp/StackApp/obj
/LambdaApp/.vs/LambdaApp
/LambdaApp/LambdaApp/bin/Debug/net8.0
/LambdaApp/LambdaApp/obj
