################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/StackApp/.vs
/StackApp/StackApp/bin/Debug/net8.0
/StackApp/StackApp/obj
/LambdaApp/.vs/LambdaApp
/LambdaApp/LambdaApp/bin/Debug/net8.0
/LambdaApp/LambdaApp/obj
/LambdaApp/.vs/ProjectEvaluation
/MySort/.vs/MySort
/MySort/MySort/bin/Debug/net8.0
/MySort/MySort/obj
/LinqApp/.vs/LinqApp
/LinqApp/LinqApp/bin/Debug/net8.0
/LinqApp/LinqApp/obj
/ThreadApp/.vs
/ThreadApp/ThreadApp/bin/Debug/net8.0
/ThreadApp/ThreadApp/obj
